
<div id="report-title"><h1></h1></div>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Qty</th>
            <th>Remarks</th>
            <th>Expiry</th>
            <th>Created By</th>
            <th>Updated By</th>
            <th>Department Id</th>
            <th>UOM</th>
        </tr>
    </thead>
    <tbody>
        <% records.forEach(function(record){ %>
        <tr>
            <td><%= record.date %></td>
            <td><%= record.qty %></td>
            <td><%= record.remarks %></td>
            <td><%= record.expiry %></td>
            <td><%= record.created_by %></td>
            <td><%= record.updated_by %></td>
            <td><%= record.department_id %></td>
            <td><%= record.measurement_id %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
